/* You can add global styles to this file, and also import other style files */
.contenedor{
    display: flex;
    border: 1px solid black;
    height: 400px;
    width: 900px;
    justify-content: center;
    align-items: center
  }

  /* Set the size of the div element that contains the map */
  #map {
       height: 745px;  /* The height is 400 pixels */
       width: 100%;  /* The width is the width of the web page */
       justify-content: center;
       align-items: center;
  }
 
  #img {
     background-image: url('../src/app/images/mapbox-icon.png');
  }
 
